{% extends 'base.html' %}
{% block title %}
<title>О магазине</title>
{% endblock %}

{% block body %}
<divc lass="container">
    <h1>Про магазин</h1>
    <p>Книжный интернет-магазин — это уникальное пространство, где каждый может найти книгу на свой вкус. У нас вы найдёте литературу самых разных жанров: от классики до современных бестселлеров, от научной фантастики до любовных романов. Мы предлагаем книги на русском и иностранных языках, а также аудиокниги и электронные версии книг.
Наш магазин работает для того, чтобы сделать чтение доступным и удобным для всех. Мы заботимся о наших клиентах и предлагаем им качественный сервис: быструю доставку, удобную навигацию по сайту, возможность заказать книги в один клик и многое другое.
Мы постоянно обновляем наш ассортимент и следим за новинками книжного рынка. Наши специалисты помогут вам выбрать книгу, которая точно придётся вам по вкусу, а система рекомендаций учтёт ваши предпочтения и историю покупок.
В нашем магазине вы можете приобрести книги для себя или в подарок друзьям и близким. Мы предлагаем подарочные сертификаты, которые станут отличным сюрпризом для любого книголюба.
Мы рады видеть вас в нашем книжном интернет-магазине! Заходите, выбирайте и наслаждайтесь чтением!</p>
</divc>
{% endblock %}